@import url(window.css);
html {
  size: 600dip;
}

body {
  margin: 0;
}

#toolbar {
  display: block;
  flow: horizontal;
  background: color(toolbar-color);
  border-bottom: 1dip solid color(border-color);
  vertical-align: baseline;
}

#toolbar>* {
  margin: 5dip;
}

#magnifier {
  padding: 0 4dip 1dip 16dip;
}

#toolbar>span {
  width: *;
}

#content {
  size: *;
  position: relative;
  aspect: MouseHandler;
  overflow: hidden;
  font-size: 10dip;
  font-weight: bold;
}

.red {
  color: rgb(247, 150, 150);
}

.green {
  color: rgb(176, 231, 165);
}